.app-logo {
  padding: 10px;
  max-height: 20vh;
  object-fit: contain;
}

.struk-logo-preview {
  padding: 0;
  /* height: 20px; */
  width: 180px;
  margin: auto;
}

.struk-logo {
  padding: 0;
  height: 120px;
  width: 120px;
  margin: auto;
}

ion-segment-button::part(indicator-background) {
  background: #a30808;
}

/* Material Design styles */
ion-segment-button.md::part(native) {
  color: #000;
}

.segment-button-checked.md::part(native) {
  color: #a30808;
}

ion-segment-button.md::part(indicator-background) {
  height: 4px;
}

/* iOS styles */
ion-segment-button.ios::part(native) {
  color: #a30808;
}

.segment-button-checked.ios::part(native) {
  color: #fff;
}

ion-segment-button.ios::part(indicator-background) {
  border-radius: 20px;
}

.username-input {
  text-transform: none !important;
}

.username-input::part(native) {
  text-transform: none !important;
}
